@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2>Start your Journey as Influencer</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem vestibulum sed scelerisque eros. Lectus faucibus. </p>
            <button class="btn btn-success">
                Preebook now <i class="bi bi-arrow-right"></i>
            </button>
        </div>
        <div class="col-md-6">
            <img src="~/images/product/banner.png" alt="bannar image" class="img-fluid" />
        </div>
    </div>
</div>


<div class="container mt-5">
    <h2 class="text-center mb-3">Brands</h2>
    <div class="row align-items-center  shadow-sm">
            <div class="col-md-2"><img src="~/images/brands/alibaba.svg" width="auto" /></div>
            <div class="col-md-2"><img src="~/images/brands/amazon.svg" width="auto" /></div>
            <div class="col-md-2"><img src="~/images/brands/ebay.svg" width="auto" /></div>
            <div class="col-md-2"><img src="~/images/brands/faviconado.png" width="auto" /></div>
            <div class="col-md-2"><img src="~/images/brands/rakuten.svg" width="auto" /></div>
            <div class="col-md-2"><img src="~/images/brands/target.svg" width="auto" /></div>
        </div>
</div>
